/* import spinner css*/
@import "jquery.stepper.css";


/* General styles */
button::-moz-focus-inner { border: 0; }
h2 span.heading_annotation {
	font-size: 10pt;
	font-weight: normal;
}
div.clear { clear: both;}

ul.floating { list-style: none; margin: 0; padding: 0; }
ul.floating li {
	display: block;
	float: left;
}

div.box, div.combineBoxes { margin-bottom: 1em; }
.combineBoxes div.box { margin-bottom: 0; }

/* disable spinner on numeric fields */
/* this is done because the spinner does not automatically appear in every browser. Thus it's done via js*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

/* General form styles */
/* Table styles */
table.form td { padding-right: 20px; }
table.form td.end { padding-right: 0px; }
table.form tbody th { font-weight: normal; }

/* List styles */
form.bbf-form fieldset { border: none; }
form.bbf-form ul { padding: 0; margin: 0; }
li.bbf-field, .bbf-list li { list-style: none; position: relative }
li.bbf-field label { }
li.bbf-field div.bbf-editor { position: relative; top: -1.3em; margin-left: 170px; }
div.bbf-help, div.bbf-error {
	position: absolute;
	display: none;
	top: 0;
	left: 350px;
	background-color: #c00;
	color: #fff;
	border-radius: 2px;
	padding: 2px 4px;
}
.bbf-field.bbf-error div.bbf-help,
.bbf-field.bbf-error div.bbf-error { display: block; }
.bbf-form.inline li.bbf-field { display: inline-block; margin-right: 20px; }
.bbf-form.inline li.bbf-field label { margin-right: .5em; }
.bbf-form.inline li.bbf-field label:after { content: ':'; }
.bbf-form.inline li.bbf-field div.bbf-editor { display: inline-block; top: auto; margin-left: auto; }

/* Generic Add/Edit */
div.add-edit-half {
	width: 48%;
	margin-right: 2%;
	float: left;
}
.field-name input, .field-description input { width: 20em; }
input.reason { width: 25em; }
.selectable { cursor: pointer; }

/* List editor styles */
.bbf-list li { display: block; clear: both; height: 2em; padding-left: 1px; margin-left: -2em; }
.bbf-editor-container div div { margin-left: 2.5em; }
.bbf-list button.bbf-remove { float: left; width: 1.9em; margin-top: -2px; }
.bbf-list-modal { cursor: pointer; color: #003366; text-decoration: underline; }
.bbf-actions { clear: both; }

.bbf-list .bbf-editor-container { margin-top: 3px; }
.bbf-list .ui-sortable .bbf-editor-container div div { margin-left: 4.5em; }
.bbf-list .ui-sortable button.bbf-remove { margin-top: 1px; }
.bbf-list ul.ui-sortable li {
	margin-bottom: 1px; border: 1px solid #bbb;
	cursor: move;
	background: #f9f9f9 url('../images/handle.png') 2.2em center no-repeat;
}

/* Input hint styles */
span.label-hint { position: relative; }
.label-hint label { position: absolute; bottom: 0px; left: 3px; font-style: italic; color: #999; cursor: text; z-index: 0; }

/* Generic data table styles */
table.display { width: 100%; border-spacing: 0; margin-bottom: 100px; background-color: #fff; }
table.display tr.even.row_selected td, table.display tr.odd.row_selected td,
table.display tr.row_selected
{ background-color: #f0e68c !important; }

input, textarea, select { font-size: 100%; }
td.item-actions input { visibility: hidden; }
tr.row_selected td.item-actions input, tr:hover td.item-actions input
{ visibility: visible; }

div.paging-container { margin-top: .5em; }


td.numeric, td.numeric input {
	text-align: right;
}

input.search { width: 250px; }

/** Validation **/
div.validation {
	position: absolute;
	top: -1.7em;
	background-color: #b00;
	color: #fff;
	padding: 2px 4px;
	z-index: 10;
	white-space: nowrap;
}

/**Loading Spinner**/
.spinner {
	height:45px;
	width:45px;
	margin:0px auto;
	position: relative;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(0,174,239,.15);
	border-right:6px solid rgba(0,174,239,.15);
	border-bottom:6px solid rgba(0,174,239,.15);
	border-top:6px solid rgba(0,174,239,.8);
	border-radius:100%;
}

.spinner-10 {
	height:10px;
	width:10px;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

.spinner-align {
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
}

.spinner-float-style {
	float:left
}

.tSpace {
	height: auto;
	width: 100%;
	background-color: #E2DDDD;
}

.modalSpinner {
	align-content: center;
	align-self: center;
	margin: auto;
	width: 400px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	border-radius: 5px;
	z-index: 11;
}

.loadingText {
	position: relative;
	text-align: center;
	font-style: inherit;
	padding-bottom: 5px;
}
